#largeImage {
    display: block;
    max-width: 2000px;
    max-height: 500px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#viewport {
    display: none;
}

body {
    background-color: #087f38;
    color: white;
    margin: 0;
}
.menu {
    display: inline-block;
    color: white;
    font-size: 30px;
    margin: 0px;
    font-family: sans-serif;
    z-index: 5;
    padding: 10px;
}
.menuBar {
    background-color: #01471d;  
    height: 55px;
    height: 55px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
#menuBackground {
    background-color: #0b3818;
    width: 100px;
    height: inherit;
    position: absolute;
    z-index: 1;
    left: calc(50% - 275px);    
}
.subPage {
    margin-left: 25vw;
    display: none;
}
#underline {
    background-color: white;
    width: inherit;
    height: 2px;
    position: absolute;
    bottom: 2px;
}
@media (max-width: 900px) {
    .menu {
        font-size: 18px;
    }
}