#largeImage {
    display: block;
    max-width: 2000px;
    max-height: 500px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: -5;
    /*position: absolute;
    offsets: top, right, bottom, left
    clip: rect(100px,1000px,500px,0px);*/
}
#background {
    background-color: #087f38;
    height: 60.3vh;
}
#viewport {
    display: block;
    width: 100vw;
    height: 30vh;
}

body {
    background-color: #087f38;
    color: white;
    margin: 0;
}
p {
    margin-left: 20vw;
}
.menu {
    display: inline-block;
    color: white;
    font-size: 30px;
    margin: 0px;
    font-family: sans-serif;
    z-index: 5;
    padding: 10px;
}
.menuBar {
    background-color: #01471d;  
    height: 55px;
    height: 55px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
#menuBackground {
    background-color: #0b3818;
    width: 100px;
    height: inherit;
    position: absolute;
    z-index: 1;
    left: calc(50% - 275px);    
}
.subPage {    
    display: none;    
}
#underline {
    background-color: white;
    width: inherit;
    height: 2px;
    position: absolute;
    bottom: 2px;
}
.pi {
    display: block;
    margin: auto;
    position: relative;
    z-index: -1;
}
.pb {
    display: block;
    width: auto;
    background-color: red;
    height: 500px;
    position: relative;
    top: 0px;
}
.tborder {
    background-color: #444444;
    width: 100vw;
    height: 100px;
    position: relative;
    bottom: 0px;
}
.bborder {
    background-color: #444444;
    width: 100vw;
    height: 100px;
}
@media (max-width: 900px) {
    .menu {
        font-size: 18px;
    }
    p {
        font-size: 10px;
    }
    h1 {
        font-size: 15px;
    }
}